<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<h3 class="container error">Please enter both your name and your birthday.</h3>

<%= erb(:index) %>

</html>