<h1>Hello birthday lover!</h1>

<form action="/details" method="post">
  What's your name? <input type="text" name="name">
  When is your birthday? <input type="date" name="birthday">
  <input type="submit" value="Submit">
</form>