<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<div class="container">
  <h1 class="container">Hello there!</h1>

  <form class="form" action="/details" method="post">
    What's your name? <input class="input-field" type="text" name="name">
    When is your birthday? <input class="input-field" type="date" name="birthday">
    <input class="submit-button" type="submit" value="Go!">
  </form>
</div>


</html>