<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<% if @countdown < 1 %>

  <h2><%= "Happy birthday #{@name}!" %></h2>  

<% elsif @countdown == 1 %>

  <h2><%= "Your birthday is tomorrow, #{@name}!" %></h2>

<% else %>

  <h2><%= "Your birthday is in #{@countdown} days, #{@name}!" %></h2>

<% end %>

</html>